################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Task06/.vs/Task06/v15/Browse.VC.opendb
/Task06/.vs/Task06/v15/Browse.VC.db
